:root {
   --color-primary: #4CAF4F;
   --color-secondary:#263238;
   --color-tertiary: #263238;
   --color-white:#fff;
   --color-silver:#F5F7FA;
   --color-gray: #717171;
   --color-d-gray: #4D4D4D;


   
}